#!/usr/bin/make -f
CONFIGURE_OPTS := --prefix $(ZBS_PREFIX) 

all: binary

binary: setup configure build install

setup: $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure:
	LDFLAGS="$(LDFLAGS) -g -liconv" CFLAGS="$(CFLAGS) -g -O2" CONFIG_SHELL=$(SHELL) $(SHELL) ./configure $(CONFIGURE_OPTS)
	touch $@

build: $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build:
	$(MAKE)
	touch $@

install:
	rm -rf $(ZBS_STAGE_DIR)
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)

clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

